<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <p>Product name: <%= inventory.furn_name %></p>
    <p>Quantity: <%= inventory.finv_quantity %></p>
  </body>
</html>
