/* styles.css */

@import url(./css-reset-josh.css);

body {
  color: green;
  width: 75%;
  margin: 50px auto;
}

ul {
  list-style-type: none;
  padding: 0px;
}

hr {
  margin: 10px 0;
}

h1,
h2 {
  margin-bottom: 40px;
  text-align: center;
}

.newpost {
  margin-bottom: 25px;
}

.message,
.message-single {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.message-single {
  border: 2px solid green;
  border-radius: 25px;
  padding: 45px;
  line-height: 2rem;
}

#date-added-home,
#date-added {
  margin-top: 7px;
  font-size: 0.7rem;
}
#date-added {
  margin-top: 20px;
}

.message > label {
  font-size: 1.5rem;
}

#message {
  height: 250px;
}

#message-btn {
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.not-found {
  text-align: center;
}

.not-found > h1 {
  margin: 50px 0;
  color: red;
}

.not-found > h3 {
  margin: 25px 0;
}

table {
  border-collapse: collapse;
}

.table-clickable {
  cursor: pointer;
}
.table-clickable:hover {
  background-color: lightgreen;
}
