/* styles.css */

@import url(./css-reset-josh.css);

body {
  color: green;
  margin: 50px auto;
}

ul {
  list-style-type: none;
  padding: 0px;
}

hr {
  margin: 10px 0;
}

h1,
h2 {
  margin-bottom: 40px;
  text-align: center;
}

h5 {
  margin-top: 10px;
}

main {
  width: 95%;
  margin: 0 auto;
}

nav {
  width: 95%;
  margin: 0 auto 40px;
}

nav > a {
  font-weight: bold;
  margin-right: 25px;
  padding: 3px 8px;
  text-decoration: none;
  text-decoration-color: green;
}

a:-webkit-any-link {
  color: green;
}
a:-webkit-any-link:hover {
  color: rgb(1, 68, 1);
  background-color: lightgreen;
}

.inventory-container {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 6fr;
}

.collection,
.wood,
.ftype,
.room {
  font-size: 0.9rem;
}

h5::before {
  content: '+ ';
}
h5.active::before {
  content: '- ';
}

.hidden {
  display: none;
}

input[type='radio'] {
  accent-color: green;
}

button {
  background-color: #00800025;
  border: 1.5px solid green;
  border-radius: 10px;
  color: green;
  margin-top: 10px;
}

button:hover {
  background-color: #00800050;
}

/* table style */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

.table-clickable {
  cursor: pointer;
}
.table-clickable:hover {
  background-color: lightgreen;
}

.table-color {
  background-color: #00800025;
}

/* category page styles */
.category-page {
  background-color: #00800025;
}

.collections,
.woods,
.ftypes,
.rooms {
  background-color: white;
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px;
}
