/* styles.css */

@import url(./css-reset-josh.css);

body {
  color: green;
  margin: 50px auto;
}

ul {
  list-style-type: none;
  padding: 0px;
}

hr {
  margin: 10px 0;
}

h1,
h2 {
  margin-bottom: 40px;
  text-align: center;
}

h5 {
  margin-top: 10px;
}

main {
  width: 95%;
  margin: 0 auto;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 6fr;
}

.collection,
.wood,
.ftype,
.room {
  font-size: 0.9rem;
}

h5::before {
  content: '+ ';
}
h5.active::before {
  content: '- ';
}

.hidden {
  display: none;
}

input[type='radio'] {
  accent-color: green;
}

/* table style */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

.table-clickable {
  cursor: pointer;
}
.table-clickable:hover {
  background-color: lightgreen;
}

.table-color {
  background-color: #00800025;
}
